body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  background-color: #f9bf2d;
  min-height: 100vh;
}

h2,
h1 {
  margin: 0;
}

.mainContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #222c85;
  box-shadow: 0px 3px 4px 0px #6d6d6d94;
}

.title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 900;
}

.mainContent {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto;
}

.currentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
}

.divsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  border: #161c57 8px solid;
  border-radius: 0%;
  background-color: #25308f;
  padding: 10px;
  gap: 3px;
}

.testDiv {
  height: 150px;
  width: 150px;
  border: 4px solid #161c57;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  color: #fff;
}

.testDiv:hover {
  background-color: #2f3cb3;
  cursor: pointer;
}

.testDiv:active {
  background-color: #232d88;
}

.restartBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.restartBtn {
  appearance: none;
  border: none;
  background-color: #4782da;
  color: #e6e3e3;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 20px 30px 20px 30px;
  font-size: 25px;
  box-shadow: 3px 3px 3px #595959;
}

.restartBtn:hover {
  background-color: #4076c9;
  cursor: pointer;
}

.restartBtn:active {
  background-color: #3665ac;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.githubInfo a {
  color: #202020;
  text-decoration: none;
  display: flex;
  align-self: center;
  align-items: center;
  padding: 5px;
  gap: 3px;
}

.githubInfo a:hover {
  color: #000000;
}
